* {
    margin: 0;
}

/* .about-section {
    display: inline-block;
    position: static;
    /*text-align: center;*/
    /*width: 650px;*/
    /* margin: 0 auto; */
/* } */

/* .profile h2 {
    text-align: center;
} */

/* #profile-pic {
    float: left;
} */

/* .profile1, */
/* .profile2 {
    text-align: center;
    width: 580px; */
    /*display: block;*/
    /* height: 500px; */
    /* background: none; */
/* } */

/* .about-section h1 {
  color: white;
} */

/* .hero { */
  /* background: #ffb3b3; */
  /* background-image: url("../../../public/images/IMG_0215.jpg"); */
/* } */