* {
    margin: 0;
}
.about-section {
    display: block;
    position: static;
    text-align: center;
    width: 650px;
    margin: 0 auto;
}

.profile1, .profile2 {
    text-align: center;
    width: 580px;
    /*display: block;*/
    height: 500px;
    background: none;
}

.parallax {
    /* the image used */
    background-image: url('../../../public/images/monotonebackground.png');
    display: block;

    height: 200px;
    /* create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}